# =========================================================================
# FRONTEND (React / Vite)
# =========================================================================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# =========================================================================
# BACKEND (Django / Pipenv)
# =========================================================================
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.venv/
backend/Pipenv.venv
backend/.env  

# =========================================================================
# EDITOR, SYSTEM & GLOBAL SENSITIVE FILES
# =========================================================================
.env
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?